*{
    font-family: system-ui;
}

gametitle{
    font-size: 30px;
    display: block;
}

sectionheader{
    font-size: 20px;
    display: block;
}

.gameHero{
    width: 100%;
    max-width: 500px;
}

.contentdiv{
    margin:auto;
    max-width: 600px;
}

.homegrid{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
    gap:10px;
}

@media only screen and (max-width: 550px) {
    .homegrid{
        grid-template-columns: 1fr;
    }
}

.card{
    box-shadow:2px 2px 5px #CCC;
    padding: 20px;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, 0.125);
}

cardtitle{
    display: block;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
}

.thumb{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    max-width: 200px;
    max-height: 200px;
}

/*
Dark mode
*/
@media (prefers-color-scheme: dark) {
    .header{
        background-color: rgb(8, 56, 92);
        color: #E0E0E0
    }
    body{
        background-color: #323232;
    }
    .card{
        background-color: #444;
        box-shadow:2px 2px 5px #222;
    }
    .header, body, .card{
        color: #E0E0E0
    }
    .barheader{
        background-color:#464a4c
    }
    a{
        color:rgb(83, 158, 250)
    }
    a:hover{
        color:rgb(0, 115, 255) 
    }
}