<!-- 8px 11px 12px 10pt 15px 16px 18px 20px 16pt 24px 19pt 28px 22pt 32px 36px 2AA500 F4491B 62FF04 -->
<STYLE TYPE="text/css">
.mozilladummy
{
    FONT-SIZE: 12pt
}
P
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}
TD
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}
OL
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}
UL
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}
DL
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}
BODY
{
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt
}
.boxtext
{
    BACKGROUND: #336633;
    FONT-SIZE: 11px
}
.boxheadr
{
    BACKGROUND: #993333;
    FONT-WEIGHT: bold
}
.featmenu
{
    BACKGROUND: #336633
}
.tableheadr
{
    BACKGROUND: #669966;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}
.menuheadr
{
    BACKGROUND: #993333;
    FONT-SIZE: 12px;
    FONT-WEIGHT: bold
}
.menubody
{
    BACKGROUND: #663333;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}
.threadmessage
{
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}
.threadtime
{
    COLOR: #aaaaaa;
    FONT-SIZE: 11px
}
.submitbutton
{
    BACKGROUND: #666666;
    COLOR: white;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 11px;
    FONT-WEIGHT: bold
}
.textfield
{
    BACKGROUND: #000000;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 11px
}
.featarttitle
{
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}
.featart
{
    BACKGROUND: #1b3d1b;
    FONT-SIZE: 12px
}
.ZWNewsFmt01-Date
{
    BACKGROUND-COLOR: #000000;
    BACKGROUND-IMAGE: url(/web/20050910132027im_/http://www-personal.umich.edu/pics/holiday.gif);
    COLOR: white;
    FONT-SIZE: 17px;
    FONT-WEIGHT: bold;
    TEXT-INDENT: 0.2in;
    font-face: Tahoma
}
.ZWNewsFmt01-Headline
{
    COLOR: #ffffff;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}
.ZWNewsFmt01-Byline
{
    COLOR: #ddd6d0;
    FONT-SIZE: 11px
}
.ZWNewsFmt01-Body
{
    COLOR: #ffffff;
    FONT-SIZE: 10pt
}
.purplehdrold
{
    COLOR: #33cc66;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 18px;
    FONT-STYLE: italic;
    FONT-WEIGHT: bold
}
.purplehdr
{
    COLOR: #4dc482;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 18px;
    FONT-STYLE: italic;
    FONT-WEIGHT: bold
}
.purplehdr
{
    COLOR: #c48282;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 18px;
    FONT-STYLE: italic;
    FONT-WEIGHT: bold
}
.tblhdr
{
    BACKGROUND: #666699;
    COLOR: #ffffff;
    FONT-FAMILY: Verdana;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
.maintext
{
    FONT-SIZE: 10pt
}
.maintext1
{
    FONT-SIZE: 15px
}
.maintext2
{
    FONT-SIZE: 16px
}
.maintext3
{
    FONT-SIZE: 18px
}
.maintext4
{
    FONT-SIZE: 20px
}
.maintext5
{
    FONT-SIZE: 19pt
}
.maintext6
{
    FONT-SIZE: 28px
}
.maintext-1
{
    FONT-SIZE: 12px
}
.maintext-2
{
    FONT-SIZE: 11px
}
.maintext-3
{
    FONT-SIZE: 8px
}
.maintext-4
{
    FONT-SIZE: 10px
}
.code
{
    COLOR: #add8e6;
    FONT-FAMILY: Courier New;
    FONT-SIZE: 10pt
}
.codecomment
{
    COLOR: #9999ff;
    FONT-FAMILY: Courier New;
    FONT-SIZE: 10pt
}
H1
{
    COLOR: #ffffff;
    FONT-SIZE: 18px;
    FONT-WEIGHT: bold
}
H2
{
    COLOR: #ffffff;
    FONT-SIZE: 15px;
    FONT-WEIGHT: bold
}
H3
{
    COLOR: #ffffff;
    FONT-SIZE: 10pt;
    FONT-WEIGHT: bold
}
A:link
{
    COLOR: #fff896;
    TEXT-DECORATION: none
}
A:visited
{
    COLOR: #ffff96;
    TEXT-DECORATION: none
}
A:active
{
    COLOR: #9999ff;
    TEXT-DECORATION: none
}
A:hover
{
    COLOR: #9999ff;
    TEXT-DECORATION: none
}
</STYLE>
<!--
     FILE ARCHIVED ON 13:20:27 Sep 10, 2005 AND RETRIEVED FROM THE
     INTERNET ARCHIVE ON 20:55:07 Dec 11, 2024.
     JAVASCRIPT APPENDED BY WAYBACK MACHINE, COPYRIGHT INTERNET ARCHIVE.

     ALL OTHER CONTENT MAY ALSO BE PROTECTED BY COPYRIGHT (17 U.S.C.
     SECTION 108(a)(3)).
-->
<!--
playback timings (ms):
  captures_list: 0.554
  exclusion.robots: 0.02
  exclusion.robots.policy: 0.009
  esindex: 0.013
  cdx.remote: 14.999
  LoadShardBlock: 194.966 (3)
  PetaboxLoader3.datanode: 138.526 (4)
  PetaboxLoader3.resolve: 175.957 (2)
  load_resource: 153.95
-->